<mat-tab-group>
  <mat-tab label="Login">

  	<div class="example-container">
	  <mat-form-field>
	    <input matInput placeholder="user name">
	  </mat-form-field>

	  <mat-form-field>
	    <input matInput placeholder="password">
	  </mat-form-field>

	  <button mat-raised-button color="primary">Login</button>
	</div>

  </mat-tab>
  <mat-tab label="Signup">
	<div class="example-container">
	  <mat-form-field>
	    <input matInput placeholder="user name">
	  </mat-form-field>

	  <mat-form-field>
	    <input matInput placeholder="password">
	  </mat-form-field>

	  <button mat-raised-button color="primary">Signup</button>
	</div>
  </mat-tab>
</mat-tab-group>
